<!DOCTYPE html>
<html lang="en">
<head>
    <%= _.template(require('./../inc/head.html').default)() %>
</head>
<body class="page works-view">
    <%= _.template(require('./../inc/header.html').default)() %>

    <main class="works-view__container page__area-content">
        <div class="works-post works-view__post">
            <h1 class="works-post__title">Designing Dashboards with usability in mind</h1>
            <span class="works-post__year mark">2020</span>
            <span class="works-post__author">Dashboard, User Experience Design</span>
            <p class="works-post__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <img class="works-post__img" src="<%= require('./../../img/work-view-1.png') %>" alt="Img">
        </div>
        <div class="works-post works-view__post">
            <h3 class="works-post__title works-post__title_size_small">Heading 1</h3>
            <h4 class="works-post__subtitle">Heading 2</h4>
            <p class="works-post__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <img class="works-post__img" src="<%= require('./../../img/work-view-2.png') %>" alt="Img">
            <img class="works-post__img" src="<%= require('./../../img/work-view-3.png') %>" alt="Img">
        </div>
    </main>

    <%= _.template(require('./../inc/footer.html').default)() %>
</body>
</html>
